body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.primary-title {
    text-align: center;
    color: black;
    text-shadow: ;
}

img.header {
    align-content: center;
    max-height: 500px;
}

nav.nav-bar {
    background-color: cadetblue;
    text-align: center;
    font-size: large;
    padding: 12px;
}

form{
    text-align: left;
}